# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.lock.hcl

# Secrets
*.pem
*.key
service-account*.json
*.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.tfplan

# Python
__pycache__/
*.pyc
